
body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.box {
  width: 1000px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 25px;
}

.grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 1150px;
}
#breadcrumb {
  margin-top: 2em;
}
#dimmed {
  margin-left: 12em;
}
